{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}课程详情{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'course:course_list' %}">课程列表</a></li>
        <li class="breadcrumb-item">课程详情</li>
{% endblock %}
{% block content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-md-9">
            <!-- Box Comment -->
            <div class="card">
              <div class="card-header d-flex p-0">
                  <h3 class="card-title p-3">Tabs</h3>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                     <img class="img-fluid pad" style="padding: 0px 0px 20px 0px;" src="{{ MEDIA_URL }}{{ course.image }}" alt="Photo">
                     <br>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i> Share</button>
                    </div>
                    <div class="col-md-6 " style="padding: 0px 0px 0px 20px;" >
                          <dl>
                          <dt><h2>{{ course.name }}</h2></dt>
                          <dd>{{ course.desc }}</dd>
                          <dd>
                              <div class="card-footer card-comments">
                                难度：<strong><h2>{{ course.get_degree_display }}</h2></strong>
                                  <span class="text-muted float-right">收藏人数:{{ course.fav_nums }}</span>
                                </span><!-- /.username -->
                              </div>
                          </dd>
                          <dd>课程数：{{ course.get_vd_nums }}</dd>
                          <dd>课程类别：{{ course.category }}</dd>
                          <div class="row">
                            {% if request.user.is_authenticated %}
                              <div class="col-md-6">
                                 <button id="jsLeftBtn" type="button" class="btn btn-block btn-default btn-lg"> {% if has_fav_course %}已收藏{% else %}收藏{% endif %}</button>
                              </div>
                                {% else %}
                              <div class="col-md-6">
                                  <a href="{% url 'users:login' %}"><button class="btn btn-block btn-default btn-lg">开始学习</button></a>
                              </div>
                              {% endif %}
                          </div>
                        </dl>
                      </div>
                  </div>
              <br>
                <div class="card">
              <div class="card-header bg-info">
                <h3 class="card-title">课程详情</h3>
              </div>
              <div class="card-body">
                {{ course.detail | safe }}
              </div>
              <!-- /.card-body -->
            </div>
            {% if request.user.is_authenticated %}
                <div class="card">
                      <div class="card-header no-border">
                        <h3 class="card-title">课程列表</h3>
                      </div>
                      <div class="card-body">
                          {% for video in videos %}
                        <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                          <p class="text-info text-lg">
                            <a href="{% url 'course:video_info' video.id %}">{{ video.name }}</a>
                          </p>
                          <p class="d-flex flex-column text-right">
                            <span class="font-weight-bold">
                             <span class="text-muted">播放次数&nbsp;&nbsp;{{ video.click_nums }}</span>
                            </span>
                          </p>
                        </div>
                          {% endfor %}
                       </div>
                </div>
                {% endif %}
              </div>
              <!-- /.card-body -->
          <!-- /.col -->
          </div>
          </div>
              <div class="col-md-3">
              </div> <!-- /.container-fluid -->
      </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}

{% block custom_script %}
    <script type="text/javascript">
            function add_fav(current_elem, fav_id, fav_type){
            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url "organization:add_fav" %}",
                data:{'fav_id':fav_id, 'fav_type':fav_type},
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status == 'fail'){
                        if(data.msg == '用户未登录'){
                            window.location.href="/login/";
                        }else{
                            alert(data.msg)
                        }

                    }else if(data.status == 'success'){
                        current_elem.text(data.msg)
                    }
                },
            });
        }
        $('#jsLeftBtn').on('click', function(){
            add_fav($(this), {{ course.id }}, 1);
        });
    </script>
{% endblock %}